<StackLayout style="align-items: center;height:100%;background-color: white">
    <StackLayout marginTop='20'>
        <Image [src]="selectedFile" height="200"></Image>
        <Label text="{{selectedFileName}}" textWrap="true" style="color:black;text-align: center;margin-top: 20"></Label>
    </StackLayout>

    <StackLayout marginTop='20' orientation="horizontal" width="95%" backgroundColor="lightcyan">
        <Image src="~/assets/camera.png" width="35" margin="20 80" (tap)="tapCameraAction()"></Image>
        <Image src="~/assets/gallery.png" width="35" margin="20 80" (tap)="imagePicker(1)"></Image>
    </StackLayout>

    <Progress [value]="progressValue" maxValue="100" (loaded)="onProgressBarLoaded($event)" width="380" backgroundColor="cyan" color="orange"></Progress>
    
    <StackLayout *ngIf="isError">
        <label [text]='errorMessage' color="red"></label>
    </StackLayout>
    
    <StackLayout marginTop='20' *ngIf="isComplete">
        <Image [src]="remoteUrl" height="200"></Image>
        <Label text="This is a remote file" textWrap="true" style="color:black;text-align: center;margin-top: 30"></Label>
        <Label text="{{remoteUrl}}" textWrap="true" style="color:black;text-align: center;margin-top: 30;"></Label>
    </StackLayout>
</StackLayout>

